<mat-toolbar color="primary">
  <span>Monithon</span>

  <button mat-button [matMenuTriggerFor]="reportMenu">
    Report
  </button>
  <button mat-button>
    Compila un Nuovo Report di Monitoraggio
  </button>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button mat-button [matMenuTriggerFor]="userMenu">
    Utente
  </button>
</mat-toolbar>

<mat-menu #appMenu="reportMenu">
  <button mat-menu-item>Tutti i report</button>
  <button mat-menu-item>Mappa dei report</button>
  <button mat-menu-item>Nuovo report</button>
</mat-menu>

<mat-menu #appMenu="userMenu">
  <button mat-menu-item>Il mio profilo</button>
  <button mat-menu-item>Le mie bozze</button>
</mat-menu>



<router-outlet></router-outlet>
